<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thread Management</title>
    <meta  charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        Import from libs
    -->
    <link rel="stylesheet" href="/libs/bootstrap-3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/bootstrap-3.3.5/css/bootstrap-slider.css">
    <script src="/libs/jquery-2.2.4/jquery-2.2.4.js"></script>
    <script src="/libs/bootstrap-3.3.5/bootstrap.js"></script>
    <script src="/libs/bootstrap-3.3.5/bootstrap-slider.js"></script>
    <script src="/libs/angularjs/angular.js"></script>
    <script src="/libs/angularjs/angular-ui-router.js"></script>
    <script src="/libs/d3/d3.v4.min.js"></script>
    <!--
        Import from this project
    -->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/thread_manage.js"></script>
    <script src="/javascripts/controllers/HomeCtrl.js"></script>
</head>

<body ng-app="thread_manage">


<ui-view>

</ui-view>

</body>

</html>